.ColorPickerGroup {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  padding: 10px;
  height: fit-content;
  background-color: #333;
  border-radius: 5px;
  row-gap: 10px;
}

.ColorPickers {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  overflow-x: scroll;
  height: fit-content;
}