.PromptInput {
  background-color: #252525;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 20px);
  height: fit-content;
  font-size: large;
  border: none;
}

.PromptInputArea {
  background-color: #252525;
  color: white;
  padding: 10px;
  border-radius: 5px;
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  max-height: 160px;
  min-height: 160px;
  font-size: large;
  border: none;
}

.PromptInput:focus {
  outline: none;
}

.PromptInputArea:focus {
  outline: none;
}

.PromptLabel {
  font-size: small;
  color: #f1f1f1;
  text-align: left;
}

.PromptInputGroup {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 600px;
}