.LogoUploader {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: calc(100% - 20px);
  height: fit-content;
  border-radius: 5px;
  font-size: large;
  color: white;
  column-gap: 10px;
  overflow: hidden;
}

.LogoUploaderGroup {
  display: flex;
  flex-direction: row;
  height: fit-content;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.ResponseHeader {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid wheat;
}

.Uploader {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(184, 77, 255);
  border: 1px solid transparent !important;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Uploader:hover {
  cursor: pointer;
}

.Uploader:focus {
  outline: none;
}

input[type="file"] {
  display: none;
}

.ImagePreview {
  /* max-width: calc(100% - 20px); */
  max-width: 100%;
  background-color: white;
}

.ImagePreviewContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}
